@model OnlineBookStore.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Gestão da Livraria";
}

<div class="container">
    <nav class="justify-content-center">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Livros</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Encomendas</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <div class="container mt-5 d-flex flex-column justify-content-between">
                <a class="btn btn-outline-primary align-self-end mb-1" asp-action="Create"><i class="bi bi-plus-circle-fill"></i> Adicionar Livro</a>
                <table class="table table-striped text-center">
                    <caption>Lista de livros</caption>
                    <thead>
                        <tr>
                            <th>Capa</th>
                            <th>Título</th>
                            <th>ISBN</th>
                            <th>Autor</th>
                            <th>Preço</th>
                            <th>Disponibilidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        @if (Model?.Books != null && Model.Books.Any())
                        {
                            @foreach (var book in Model.Books)
                            {
                                <tr>
                                    <td class="align-middle"><img src=@book.Image class="object-fit-fill" alt="Capa do Livro" style="height: 65px" /></td>
                                    <td class="align-middle">@book.Title</td>
                                    <td class="align-middle">@book.ISBN</td>
                                    <td>@book.Author</td>
                                    <td>@book.Price €</td>
                                    <td class="align-middle">
                                        @if (book.IsAvailable)
                                        {
                                            <p class="mb-0"><i class="bi bi-circle-fill" style="color: green;"></i></p>
                                        }
                                        else
                                        {
                                            <p class="mb-0"><i class="bi bi-circle-fill" style="color: red"></i></p>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@book.Id">Editar</a> | <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@book.Id">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center"><h5><i class="bi bi-exclamation-triangle-fill"></i> Não existem livros!!!</h5></td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="container mt-5 d-flex flex-column justify-content-between">
                <table class="table table-striped text-center">
                    <caption>Lista de encomendas</caption>
                    <thead>
                        <tr>
                            <th>Capa</th>
                            <th>Título</th>
                            <th>Nome do utilizador</th>
                            <th>Morada</th>
                            <th>Estado da encomenda</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        @if (Model?.Orders != null && Model.Orders.Any())
                        {
                            @foreach (var order in Model.Orders)
                            {
                                <tr>
                                    <td class="align-middle"><img src=@order.Book.Image alt="Capa do Livro" style="height: 65px" /></td>
                                    <td class="align-middle">@order.Book.Title</td>
                                    <td class="align-middle">@order.Username</td>
                                    <td>@order.Address</td>
                                    <td>
                                        <form asp-action="UpdateOrderStatus" method="post" id="form-@order.Id">
                                            <input type="hidden" name="Id" value="@order.Id" />
                                            <select class="form-select" name="Status" onchange="document.getElementById('form-@order.Id').submit()">
                                                <option value="false" selected="@(order.Status == false)"><i class="bi bi-circle-half" style="color: cornflowerblue"></i> Pendente</option>
                                                <option value="true" selected="@(order.Status == true)"><i class="bi bi-circle-fill" style="color: green"></i> Satisfeita</option>
                                            </select>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center"><h5><i class="bi bi-exclamation-triangle-fill" style="color: yellow"></i> Não existem Encomendas!!!</h5></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

