@model OnlineBookStore.Models.Book

@{

}

<div class="nav-breadcrumb" style="font-size: 0.8em">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Livro: @Html.DisplayFor(model => model.Title)</li>
        </ol>
    </nav>
</div>

<div class="book-title">
    <h4>@Html.DisplayFor(model => model.Title)</h4>
</div>

<div class="book-details d-flex flex-row">
    <div class="book-image col-md-6 me-1 d-flex align-items-stretch" style="height: 400px; max-width: 620px">
        <img src=@Model.Image class="rounded img-fluid" alt="Imagem da capa do livro" style="object-fit: cover; height: 400px;" />
    </div>


    <div class="info-book card col-md-6 d-flex align-items-stretch flex-column">
        <div class="card-header bg-dark text-light">
            Informações do Livro
        </div>

        <div class="specific-info p-3">
            <p>ISBN: @Html.DisplayFor(model => model.ISBN)</p>
            <p>Editora: @Html.DisplayFor(model => model.Publisher)</p>

            <p class="d-inline-flex gap-1">
                <a class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-plus-circle"></i> Ver mais
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>ID: @Html.DisplayFor(model => model.Id)</p>
                    <p>Género: @Html.DisplayFor(model => model.Genre)</p>
                    <p>Idioma: @Html.DisplayFor(model => model.Language)</p>
                    <p>Nº páginas: @Html.DisplayFor(model => model.Pages)</p>
                    
                </div>
            </div>
        </div>

        <div class="price-book align-self-end p-3 d-flex flex-row gap-3 align-items-center">
            <p class="mb-0">@Html.DisplayFor(model => model.Price)</p>

            <div class="buy-button">
                <a class="btn btn-primary" asp-action="OrderRegister" asp-route-id=@Model.Id><i class="bi bi-cart4"></i> Comprar</a>
            </div>
        </div>
    </div>
</div>

<div class="book-synopsis mt-5">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Sinopse
            </div>
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(model => model.Synopsis)</p>
            </div>
        </div>
</div>