@model OnlineBookStore.ViewModels.IndexViewModel

<div class="container">
    <h2>Finalizar Encomenda!</h2>
    <div class="order d-flex">
        <div class="book-order">
            <div class="book d-flex flex-column">
                <h3>Livro Escolhido</h3>
                @if (Model.Book != null)
                {
                    <div class="book-info d-flex flex-row justify-content-between">
                        <h4>@Model.Book.Title</h4>
                        <p>@Model.Book.Author</p>
                        <p>@Model.Book.Price €</p>
                    </div>
                }
                else
                {
                    <p>Book information is not available.</p>
                }
            </div>
        </div>

        <div class="forms-order">
            <h3>Informações de Envio:</h3>
            @using (Html.BeginForm("OrderRegister", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.Order.Id)
                @Html.HiddenFor(model => model.Order.BookId)

                <div class="container">
                    <div class="form-group mt-3">
                        @Html.Label("Username")
                        @Html.TextBoxFor(model => model.Order.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Order.Username)
                    </div>

                    <div class="form-group mt-3">
                        @Html.Label("Morada de Envio")
                        @Html.TextBoxFor(model => model.Order.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Order.Address)
                    </div>

                    @Html.HiddenFor(model => model.Order.Price)

                    @Html.HiddenFor(model => model.Order.Status)

                    <div class="form-group mt-3">
                        <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
